@import url(resut.css);
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat+Subrayada:wght@700&family=Noto+Sans+TC:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');


body {
    line-height: 1.3;
}

/*------------------decoration-------------*/

.nav_circle {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -250px;
    left: -50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

nav a:hover{
    color: #3864FF;
}

.title_circle_right1 {
    display: none;
}

.title_circle_right2 {
    display: none;
}

.logo img {
    position: absolute;
    width: 180px;
    top: 275px;
    left: 100px;
}



/*-----------------con--------------------*/
body {
    font-family: Bai Jamjuree, Zeyada;
}

header {
    width: 1040px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    /* height: 200px; */
    margin: 0 auto;
    font-weight: bold;

}

.head-title {
    margin: 0 auto;
    width: 1040px;
    height: 350px;
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
}

.head-title p {
    font-size: 20px;
    text-align: center;
    font-weight: normal;

    margin-top: 30px;
}

.title1 {}

.title2 {
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    -webkit-text-fill-color: transparent;
}

/*--------------------input-----------------------------------*/

.out-footer-top {
    width: auto;
    position: relative;
    overflow: hidden;

}

.footer-circle_peo img {
    width: 500px;
    border-radius: 50%;
}

.footer-circle_right1 {
    width: 150px;
    height: 150px;
    position: absolute;
    right: -3%;
    bottom: 77%;
    border-radius: 53%;
    background-color: #3864FF;
    z-index: -8;
}

.footer-circle_right2 {
    width: 300px;
    height: 300px;
    position: absolute;
    right: -5%;
    bottom: 2%;
    border-radius: 53%;
    background-color: #3864FF;
    z-index: -8;
}

.footer-circle_left {
    width: 230px;
    height: 230px;
    position: absolute;
    left: -4%;
    bottom: 43%;
    border-radius: 50%;
    background-color: #000;
    z-index: -8;
}



.footer-top {
    width: 840px;
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: space-around;

    position: relative;
}


.bot-input {
    width: 500px;
    display: flex;
    flex-direction: column;

}

input {
    line-height: 2em;
    padding: 8px;
    /* outline: none; */
}

/* .check{
    vertical-align:middle;

} */

textarea {
    padding: 8px;
}


.out_check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.out_check label {
    width: 150px;
}

.check {
    margin-left: 20px;
    margin-top: 15px;
}

.check-last {
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
}

.sub {
    height: 100px;
    width: 100px;
    border-radius: 60%;
    font-weight: bold;
    font-size: 14px;

    margin-top: 30px;

    background-color: #3864FF;
    border: #3864FF;
    color: #ffffff;
    cursor: pointer;
    /*游標樣式*/
}


/*------------------map------------------------*/

.out-map {
    width: auto;
}

.map-block {
    /* width: 940px; */
    margin: 0 auto;
}

.map-block h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.map-content {
    display: flex;
    background-color: #fff;
    margin: 30px auto 0 auto;
    width: 100%;
    justify-content: center;
}

.map-content ul {
    display: flex;
    /* width: 540px; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.map-content li {
    /* width: 400px; */
    height: 64px;
    font-weight: bold;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.map-first {
    background-color: #3864ff;
    color: #ffffff;
}

.map-content li:hover {
    background-color: #3864ff;
    color: #ffffff;
}

.world_map{
    background-image: url(../img/contact_us.jpg);
    /* background-position: center center; */
    background-size: cover;
    width: 100%;
    height: 400px;
    margin: 0 auto;

    position: relative;
}

/* .BRUNEI_point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00ff90;
    position: absolute;
    top: 45%;
    right: 17%;
}
 */


/*----------------------number---------------------------*/

.out-company-phone {
    width: auto;
    margin: 0 auto;
    background-color: #ffffff;
}

.company-phone {
    width: auto;
    height: 64px;
    padding: 15px 0;
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: #ffffff;
}
.company-phone ul{
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
}

.out-company-phone li {
    /* height: 150px;
    background: #358f20;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    height: 64px;
    font-weight: bold;
    padding: 15px;
    display: flex;
    width: auto;
    justify-content: center;
    flex-direction: column;
}

.company-phone p {
    padding-top: 5px;
}

.company-phone ul:hover {
    background-color: #3864FF;
    color: #ffffff;
}